@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.spline {
  position: relative;
  bottom: 100px;
  right: 85px;
  scale: 70%;
  height: 650px;
  width: 140%;
}

@media screen and (min-width: 600px) {
  .spline {
    padding-right: 80px;
    width: 135%;
  }
}

@media screen and (min-width: 768px) {
  .spline {
    bottom: 160px;
    right: 70px;
    scale: 75%;
    width: 130%;
    padding-left: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .spline {
    bottom: 60px;
    right: 60px;
    scale: 85%;
  }
}

@media screen and (min-width: 1439px) {
  .spline {
    bottom: 120px;
    right: 110px;
    padding-left: 200px;
  }
}
